/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

img {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: block;
  max-width: 100%;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
  max-width: 320px;
  margin: auto;
  font-family: 'Sorts Mill Goudy', serif;
  border: solid black 0.3px;
}

.big-font {
  font-family: 'Libre Franklin', sans-serif;
  line-height: 1.2;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

main {
  text-align: center;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 24px;
  line-height: 1.2;
  padding: 0 15px 0 15px;
}

.recipe-of-the-day {
  border-radius: 25px;
  background-color: red;
  color: white;
  margin: 15px 85px;
  font-size: 11px;
  font-weight: 700;
  padding: 3px 0;
}

.GUY {
  font-size: 16px;
  font-weight: 700;
}

.recipe-of-the-day p {
  margin: 0;
}

.block-card{
  background-color: rgb(212, 212, 212);
  padding: 5px 0 15px 0;
  margin: 0;
}

h3 {
  text-align: left;
  padding: 0 0 0 10px;
  font-size: 20px;
  border-bottom: solid black 1.5px;
  margin: 0px 15px 0 15px;
}

.recipe {
  margin: 15px;
  border: solid black 0.2px;
}

/* ====================================
// base rules
// ==================================== */
